:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #34da95 30%, var(--vp-button-brand-bg));
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #34da95 50%, var(--vp-button-brand-bg) 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px)
  }
}
@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}